---
import Layout from '../layouts/Layout.astro';
import Footer from '../components/Footer.astro';
import { getApps } from '../utils/notion';
import { marked } from 'marked';
import { SITE } from '../config';
export async function getStaticPaths() {
  const apps = await getApps();
  return apps.map(app => ({
    params: { id: app.id },
    props: { app },
  }));
}

const { app } = Astro.props;
const htmlContent = marked(app.content);
---

<Layout title={`${app.title} | ${SITE.author}`}>
  <main class="max-w-5xl  mx-auto px-4 lg:px-12  py-12">
    <div class="mx-auto bg-white rounded-lg shadow-md p-6">
      <div class="flex flex-col md:flex-row items-center md:items-start gap-6 p-4">
        <img
          src={app.icon || '/images/avatar.png'}
          class="w-40 h-40 rounded-lg  object-cover self-center"
          alt={app.title}
        />

        <div class="flex-1 w-full">
          <h1 class="text-5xl font-bold text-center md:text-left mb-4 bg-gradient-to-r from-primary-500 to-secondary-500 bg-clip-text text-transparent">
            {app.title}
          </h1>

          <div class="space-y-2 text-gray-600">

            <p class="flex">
              <span class="text-gray-700 mr-6">📅 {app.date}</span>
              {app.link && (
                <>
                  <a
                    href={app.link}
                    class="text-primary-500 hover:text-primary-600 transition-colors break-all flex items-center gap-1 text-blue-400"
                    target="_blank"
                    rel="noopener noreferrer"
                  >
                    🔗 点此访问
                  </a>
                </>
              )}
            </p>

            <div class="flex">
              🔖
              <div class="flex flex-wrap gap-2 ">
                {app.tags.map((tag) => (
                  <span
                  class="px-3 py-1 rounded-full text-xs font-medium transition-colors duration-200"
                  style={`background-color: color-mix(in srgb, ${tag.color} 20%, transparent); color: color-mix(in srgb, ${tag.color} 80%, black);`}
                >{tag.name}</span>
              ))}
              </div>
            </div>



            <p>
              🤖 {app.desc}
            </p>

          </div>
        </div>
      </div>

      <hr class="mb-6">

      <div class="mb-6">
         <div class="markdown-body" set:html={htmlContent}></div>
      </div>

      <div id="Jcomment"></div>
    </div>

    <div class="flex text-gray-400 text-sm align-middle justify-center mt-4" style={ SITE.pv?'':'display:none;'}>
        <span id="busuanzi_container_site_pv">
          @{SITE.author} PV
          <span id="busuanzi_value_site_pv"></span>
        </span>
    </div>

  </main>
  <Footer />
</Layout>