---
interface Props {
  id: string;
  title: string;
  description: string;
  icon: string;
  tags: string[];
  emoji: string;
  isPin: boolean;
}

const { id, title, description, icon, tags, emoji, isPin } = Astro.props;
import TagItem from '../components/TagItem.astro';
---

<div class="relative">
  <a href={`/${id}`}  class="flex items-center justify-center p-6 lg:p-10 bg-white dark:bg-black/20 rounded-xl shadow-md dark:shadow-lg hover:shadow-xl dark:hover:sm:shadow-indigo-500/20 transition duration-500 dark:sm:border dark:border-slate-800 mb-4 cursor-pointer" >
    {icon ? (
      <img
        src={icon}
        class="img flex-initial flex-shrink-0 mr-4 w-24 h-24"
        width="200"
        height="200"
      />
    ) : emoji ? (
      <div class="flex-initial flex-shrink-0 mr-4 w-24 h-24 flex items-center justify-center text-7xl">
        {emoji}
      </div>
    ) : (
      <img
        src="/images/avatar.png"
        class="img flex-initial flex-shrink-0 mr-4 w-24 h-24"
        width="200"
        height="200"
      />
    )}
    <div class="flex-grow">
      <h2 class="text-2xl font-semibold mb-2">{title}</h2>
      <p class="text-md text-gray-600 mb-3" style="word-break: break-word;">{description}</p>
      <div class="flex flex-wrap gap-2">
        {tags.map((tag) => (<TagItem tag={tag} />))}
      </div>
    </div>
  </a>

  {
    isPin && (
    <i class="absolute top-1 right-1 ">
      <svg t="1733886390417" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="5352" width="32" height="32"><path d="M648.728381 130.779429a73.142857 73.142857 0 0 1 22.674286 15.433142l191.561143 191.756191a73.142857 73.142857 0 0 1-22.137905 118.564571l-67.876572 30.061715-127.341714 127.488-10.093714 140.239238a73.142857 73.142857 0 0 1-124.684191 46.445714l-123.66019-123.782095-210.724572 211.699809-51.833904-51.614476 210.846476-211.821714-127.926857-128.024381a73.142857 73.142857 0 0 1 46.299428-124.635429l144.237715-10.776381 125.074285-125.220571 29.379048-67.779048a73.142857 73.142857 0 0 1 96.207238-38.034285z" p-id="5353" fill="#8a8a8a"></path></svg>
    </i>)
  }
</div>